<div class="row">
    <div class="col">
        <h2>País: {{pais.name.official}}</h2>
    </div>
</div>
<div class="row justify-content-start">
    <div class="col-4 d-flex flex-column">
       <div>
           <h5>Bandera</h5>
       </div>
       <div>
           <img [src]="pais.flags.png" alt="">
       </div>
    </div>
    <div class="col d-flex flex-column">
        <div>
            <h5>Informacion</h5>
        </div>
        <div>
            <ul class="list-group">
                <li class="list-group-item"><span class="fw-bold">Poblacion: </span> {{pais.population | number}}</li>
                <li class="list-group-item"><span class="fw-bold">Codigo numerico: </span> {{pais.ccn3}}</li>
                <li class="list-group-item"><span class="fw-bold">Codigo apha3: </span> {{pais.cca3}}</li>
              </ul>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-12">
        <h4>Traducciones</h4>
    </div>
    <div class="col d-flex flex-wrap">
        <button  
        *ngFor="let traduccion of pais.translations | keyvalue "
        class="btn btn-primary btn-sm m-1" >{{traduccion.value.official}}</button>
       
    </div>
</div>